				<li>
					<img src="images/telefono-y-correo.jpg" class="ui-li-icon"/>
						<h3>{{contacto.nombre}}</h3>
					<br/>
					<span class="">{{contacto.direccion}}</span>
						<br/>
					<span class="">{{contacto.email}}</span>
						<br/>
					<span class="">{{contacto.telefono}}</span>
						<br/>
				</li>
