.error{
	-moz-box-shadow: 0px 0px 12px #E0321B /*{global-active-background-color}*/ !important;
	-webkit-box-shadow: 0px 0px 12px #E0321B /*{global-active-background-color}*/!important;
	box-shadow: 0px 0px 12px #E0321B /*{global-active-background-color}*/ !important;
}
label.error {
    
border: 1px solid;
margin: 10px 0px;
padding:7px 5px 7px 35px;
background-repeat: no-repeat;
background-position: 5px center;
color: #D8000C;
background-color: #FFBABA;
background-image: url('images/error_icon.gif');
 display: block; 
}
@media screen and (orientation: portrait){
    label.error {width: 86%;}
}

@media screen and (orientation: landscape){
    label.error { width: 90%;}
}
			