
.content-primary {
		width: 70%;
		float: right;
		margin-top: 30px;
		margin-right: 1%;
		padding-right: 1%;
	}
        .content-secondary {
		text-align: left;
		float: left;
		width: 20%;
		background-color: none;
		border-top: 0;
                height: 500px;;
	}