.gridMenuItem{
    display: inline-table;
    vertical-align: top;
    background-color: black;
}
.gridMenuItemText{
    width: 100%;
    overflow: hidden;
    text-align: center;

}
.gridMenuItem > a {
    text-decoration: none;    
    font-size: 75%;
}
.gridMenuItemImage{
    text-align: center;

}
.gridMenu{
    text-align: left;
}
/* Media Queries ------------------------------------------------------------------------------------ */

/* iPhone, etc portrait ---- */
@media only screen and (max-width: 320px) {
    .gridMenuItem{
        width: 93px;
        padding: 0;
    }
}


/* iPhone, etc portrait ---- */
@media only screen and (min-width: 321px) {
    .gridMenuItem{
        width: 80px;
    }
}

/* iPhone, etc landscape ---- */
@media only screen and (min-width: 480px) {
    .gridMenuItem{
        width: 108px;
    }
}

/* iPad, tablets etc portrait ---- */
@media only screen and (min-width: 768px) {
    .gridMenuItem{
        width: 144px;
    }
}

/* Laptops, Desktops, etc ---- */
@media only screen and (min-width: 1024px) {
    .gridMenuItem{
        width: 162px;
    }
}

@media only screen and (min-width: 1200px) {
    .gridMenuItem{
        width: 230px;
    }
}

